<div id="<%= dom_id movie %>">
  <p>
    <strong>Name:</strong>
    <%= movie.name %>
  </p>

  <p>
    <strong>Year:</strong>
    <%= movie.year %>
  </p>

  <p>
    <strong>Director:</strong>
    <%= movie.director %>
  </p>

  <p>
    <strong>Worldwide gross:</strong>
    <%= movie.worldwide_gross %>
  </p>

</div>
